
:root {
    --main-bg: #555555;
    --main-color: #000000;
}

html, body {
    font-size: 2.5vh;
    color: var(--main-color);/*white;*/
    background-color: var(--main-bg);/*#35252C;/*#25181F;*//*#C6E6F0;*/
}

button {
    width: 60%;
    color: #DDDDDD;
    background: #202020;
}

.block {
    background: #A1AAB5;
    width: 65vh;
    font-size: 2.5vh;
    margin: auto;
    border: 1px solid gray;
    padding: 5vh;
}

.response {
    font-size: 0.7em;
    white-space: pre-wrap;
    color: #AA3333;
    max-height: 30em;
    overflow-y: scroll;
}

.big_input {
    font-size: 0.7em;
    height: 20em;
    overflow-y: scroll;
}
